.user-wrap .user-main .revise-password-list{
    padding-left: 22%;
}
.user-main .revise-password-list li > div{
    width: 58px;
}
.user-main .revise-password-list li input{
    width: 400px;
}
.user-wrap .change-main .revise-title h2{
    margin-bottom: 75px;
}
.change-main .revise>button{
    margin: 15px 0 100px 250px;
}
.change-main .revise-list .revise-error{
    padding: 0 0 0 74px;
}
.user-wrap .revise-pd-succe .revise-title h2{
    margin-bottom: 37px;
}
.change-main .revise-list li em{
    /*display: block;*/
    left: 82px;
}
.change-main > div{
    display: none;
}
.change-main > div.revise-pd-succe{
    display: block;
}