b{
    font-weight: normal;
}
i,em{  font-style: normal;  }
img{  border-style:none  }
.retrieve-password{
    width: 100%;
    height: auto;
    background: #f1f1f1;
}
html,body{
    overflow: auto;
}
#retrieve{
    padding: 50px 21px;
    max-width: 958px;
}
.retrieve-title{
    width: 100%;
    height: 80px;
    text-align: center;
    font-size: 24px;
    color: #fff;
    background: #3399ff;
    line-height: 80px;
}
.retrieve-choose{
    width: 100%;
    height: 60px;
    max-width: 584px;
    margin: 0 auto;
}
.retrieve-choose li{
    float: left;
    font-size: 14px;
    padding: 17px 6px;
}
.retrieve-choose li i{
    display: inline-block;
    width: 26px;
    height: 26px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    background: #ccc;
    color: #fff;
    text-align: center;
    line-height: 26px;
    margin-right: 12px;
}
.retrieve-choose li span{
    color: #666666;
}
.retrieve-choose li.li-on .choose-number{
    background: #3399ff;
}
.retrieve-choose li.li-on .choose-text{
    color: #3399ff;
}
.retrieve-choose .line b{
    display: inline-block;
    width: 41px;
    height: 1px;
    background: #cccccc;
}
.retrieve-content{
    width: 100%;
    padding: 91px 0 156px;
    background: #ffffff;
    text-align: center;
}
.retrieve-content > div{
    display: none;
}
.retrieve-content > div.div-show{
    display: block;
}
.retrieve-step1 .step1-number{
    position: relative;
    width: 400px;
    margin: 0 auto;
    padding-bottom: 23px;
}
.retrieve-step1 .step1-number input{
    width: 392.5px;
    /*height: 38px;*/
    padding: 11px 0 11px 8px;
    font-size: 14px;
    color: #999999;
    border:1px solid #cccccc;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
    outline: none;
}
.retrieve-step1 .step1-number em{
    display: none;
    position: absolute;
    top:13px;
    left: 9px;
    font-size: 14px;
    color: #999999;
}
.retrieve-step1 .slider{
    height: 40px;
    width: 402px;
    margin: 0 auto;
}
#slider{
    width: 400px;
    height: 38px;
    position: relative;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius: 2px;
    background-color: transparent;
    overflow: hidden;
    text-align: center;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    color: #999999;
    font-size: 14px;
    /*z-index: 2;*/
    border:1px solid #cccccc;
}
.slider_bg{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #3399ff;
    z-index: 1;
}
.label{
    width: 51px;
    position: absolute;
    left: 0;
    top: 0;
    height: 38px;
    line-height: 38px;
    background: #3399ff;
    z-index: 3;
    cursor: move;
    color: #fff;
    font-size: 16px;
    font-weight: 900;
}
#labelTip{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 14px;
    line-height: 38px;
    text-align: center;
    z-index: 2;
}
.next-step{
    width: 402px;
    height: 40px;
    color: #ffffff;
    background: #3399ff;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    margin: 0 auto;
    outline: none;
    border: none;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
    cursor: pointer;
}
.retrieve-step1 .next-step , .retrieve-step2 .next-step{
    margin-top: 72px;
}
.step2-number{
    max-width: 458px;
    height: 50px;
    margin: 10px auto 0;

}
.step2-number b , .step2-number i{
    font-size: 14px;
    color: #666666;
    float: left;
}
.step2-number b{
    padding-right: 38px;
}
.step2-number span{
    font-size: 14px;
    color: #999999;
    float: right;
}
.step2-number a{
    font-size: 14px;
    color: #3399ff;
}
.step2-code{
    position: relative;
    max-width: 458px;
    margin: 0 auto;
}
.step2-code b{
    font-size: 14px;
    color: #666666;
    padding-right: 11px;
}
.step2-code input{
    width: 240px;
    padding: 12px 0 12px 8px;
    font-size: 14px;
    color: #999999;
    outline: none;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
    border:1px solid #cccccc;
}
.step2-code button{
    width: 116px;
    /*padding: 12px 0;*/
    line-height: 38px;
    font-size: 14px;
    color: #3399ff;
    outline: none;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
    border:1px solid #3399ff;
    text-align: center;
    background: #def1ff;
    margin-left: 10px;
    cursor: pointer;
}
.step2-code em{
    display: none;
    position: absolute;
    top:14px;
    left: 67px;
    font-size: 14px;
    color: #999999;
}
.retrieve-step1 .step1-number em.em-show , .step2-code em.em-show , .retrieve-step3 > div em.em-show{
    display: block;
}
.call-us{
    display: none;
    position: fixed;
    z-index: 35;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
.call-bg{
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.3;
    -ms-filter: Alpha(Opacity=30);
    filter: Alpha(Opacity=30);
}
.call-main{
    position: absolute;
    z-index: 40;
    width: 428px;
    height: 220px;
    left: 50%;
    top:50%;
    margin-left: -214px;
    margin-top: -110px;
}
.call-main h2{
    width: 100%;
    height:30px;
    background: #3399ff;
    color: #ffffff;
    font-size: 14px;
    font-weight: 900;
    line-height: 30px;
    text-indent: 10px;
}
.call-main > div{
    width: 100%;
    /*height:190px;*/
    padding: 48px 0 76px;
    text-align: center;
    background: #ffffff;
    font-size: 14px;
    color: #666666;
}
.call-main > div h4{
    font-weight: normal;
    line-height: 36px;
    margin-bottom: 10px;
}
.call-main > div a{
    font-size: 20px;
    color: #666666;
}
.call-main .call-close{
    position: absolute;
    top:9px;
    right: 13px;
    width: 13px;
    height: 13px;
    background: url("../images/login/cell-clocse.png") no-repeat;
    cursor: pointer;
}
.retrieve-step3{
    padding-right: 277px;
    text-align: right;
}
.retrieve-step3 > div{
    position: relative;
    /*max-width: 472px;*/
    padding-bottom: 25px;

}
.retrieve-step3 > div b{
    font-size: 14px;
    color: #666666;
    padding-right: 12px;
}
.retrieve-step3 > div input{
    font-size: 14px;
    color: #999999;
    width: 392px;
    padding: 12px 0 12px 8px;
    border: 1px solid #cccccc;
    outline: none;
}
.retrieve-step3 .next-step{
    margin-top: 40px;
}
.retrieve-step3 > div em{
    display: none;
    position: absolute;
    top:14px;
    left: 288px;
    font-size: 14px;
    color: #999999;
}
.retrieve-step4{
    padding-top: 15px;
}
.retrieve-step4 img{
    width: 85px;
    height: 85px;
}
.retrieve-step4 div{
    font-size: 18px;
    color: #666666;
    font-weight: 900;
    padding: 28px 0 65px 0;
}
.retrieve-step4 div a{
    font-size: 18px;
    color: #3399ff;
}
.retrieve-step  p{
    display: none;
    padding:0 0 0 280px;
    font-size: 12px;
    color: #ff3333;
    height: 12px;
    text-align: left;
}
.step1-number p{
    padding: 1px 0 0 0;
}
.retrieve-step .slider-error{
    padding:2px 0 0 280px;
}
.retrieve-step  p.p-show{
    display: block;
}
.retrieve-step .code-error{
    padding:1px 0 0 304px;
}
.step2-code1{
    margin-bottom: 10px;
}
.code-img{
    display: inline-block;
    width: 116px;
    vertical-align: top;
    padding-left: 10px;
    text-align: left;
}
.code-img img{
    vertical-align: top;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}



    /*去掉默认样式*/
.step-prompt input::-ms-clear, .step-prompt input::-ms-reveal{display: none;}

.step-prompt input::-webkit-input-placeholder{ color: #999999;}
.step-prompt input::-moz-placeholder{ color: #999999; }
.step-prompt input:-ms-input-placeholder{ color: #999999; }
